# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit Learn
4. Seaborn
5. Matplotlib

### Data Science Tools

| Development Environment |
| ----------------------- |
| Jupyter Notebook        |
| RStudio                 |
| VS Code with Python     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Explore development environment tools for Data Science.
- Demonstrate creating tables in Markdown.

## Author

Shivanshu Shukla